
body{
  
  position: relative;
  background-color: rgb(7, 54, 95);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1 {
	color : rgb(7, 54, 95) ;
	font-family : roboto ;
	text-align : center ;
}

header {
  display: flex;
  justify-content: center ;/*centre horizontalement*/
  align-items:  center;     /* centre verticalement */
  height: 100px;           /* hauteur du header */
  background: white;
  
}

nav ul {
  display: flex;
  list-style: circle;
  gap: 60px;
  font-weight:bold ;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: aqua;
}
.premier {
  letter-spacing : 8px ;
  text-align: center;
  color: beige;
}
main section h2{
  color :black ;
	font-family : roboto ;
	text-align: left ;

}
#CV a{
  text-decoration: none;
  align-content: center;
  margin: 10px;
}
.H2{
  font-family : roboto ;
	text-align: left ;
  color: white;
  margin: 10px ;
  
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}

/* Labels */
label {
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: 500;
}

/* Champs de saisie */
input[type="text"],
input[type="number"],
input[type="date"] {
    padding: 12px 0px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    min-width: 100 px;
    transition: border-color 0.3s;
    justify-content: center;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus {
    outline: none;
    border-color: #4169e1;
    box-shadow: 0 0 5px rgba(65, 105, 225, 0.3);
}

/* Bouton Submit */
button[type="submit"],
input[type="submit"] {
    background-color: #4169e1;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: crosshair;
    transition: background-color 0.3s, transform 0.1s;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
    background-color: #2952c7;
    transform: translateY(-2px);
}

button[type="submit"]:active,
input[type="submit"]:active {
    transform: translateY(0);
}

footer {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;     /* Centre verticalement */
  margin: 50px 0px;
  color: whitesmoke;
  border: auto solid auto;
}

#Travail{
  background-image: url(docs\images\iM1.jpg) ;
  background-repeat: repeat ;
  background-position: center ;
  background-attachment: local ;
  background-size: cover ;
}
section img{
display: block;
margin: auto;
}
section iframe{
  display: block;
  margin: auto;

}


